repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
      - id: flake8
      - id: check-merge-conflict
      - id: check-yaml

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v0.971"
    hooks:
      - id: mypy

  - repo: https://github.com/psf/black
    rev: "24.4.2"
    hooks:
      - id: black
