atomicwrites==1.4.1 ; python_version >= "3.8" and python_full_version <= "3.14.0" and sys_platform == "win32"
attrs==25.3.0 ; python_version >= "3.8" and python_full_version <= "3.14.0"
autopep8==1.7.0 ; python_version >= "3.8" and python_full_version <= "3.14.0"
black==24.8.0 ; python_version >= "3.8" and python_full_version <= "3.14.0"
cfgv==3.4.0 ; python_version >= "3.8" and python_full_version <= "3.14.0"
click==8.1.8 ; python_version >= "3.8" and python_full_version <= "3.14.0"
colorama==0.4.6 ; python_version >= "3.8" and python_full_version <= "3.14.0" and (sys_platform == "win32" or platform_system == "Windows")
coverage==6.5.0 ; python_version >= "3.8" and python_full_version <= "3.14.0"
distlib==0.4.0 ; python_version >= "3.8" and python_full_version <= "3.14.0"
filelock==3.16.1 ; python_version >= "3.8" and python_full_version <= "3.14.0"
flake8==5.0.4 ; python_version >= "3.8" and python_full_version <= "3.14.0"
identify==2.6.1 ; python_version >= "3.8" and python_full_version <= "3.14.0"
iniconfig==2.1.0 ; python_version >= "3.8" and python_full_version <= "3.14.0"
mccabe==0.7.0 ; python_version >= "3.8" and python_full_version <= "3.14.0"
mypy-extensions==1.1.0 ; python_version >= "3.8" and python_full_version <= "3.14.0"
mypy==1.14.1 ; python_version >= "3.8" and python_full_version <= "3.14.0"
nodeenv==1.10.0 ; python_version >= "3.8" and python_full_version <= "3.14.0"
numpy==1.24.4 ; python_version >= "3.8" and python_version < "3.12"
numpy==2.4.4 ; python_version >= "3.12" and python_full_version <= "3.14.0"
packaging==26.0 ; python_version >= "3.8" and python_full_version <= "3.14.0"
pathspec==0.12.1 ; python_version >= "3.8" and python_full_version <= "3.14.0"
platformdirs==4.3.6 ; python_version >= "3.8" and python_full_version <= "3.14.0"
pluggy==1.5.0 ; python_version >= "3.8" and python_full_version <= "3.14.0"
pre-commit==2.21.0 ; python_version >= "3.8" and python_full_version <= "3.14.0"
py==1.11.0 ; python_version >= "3.8" and python_full_version <= "3.14.0"
pycodestyle==2.9.1 ; python_version >= "3.8" and python_full_version <= "3.14.0"
pyflakes==2.5.0 ; python_version >= "3.8" and python_full_version <= "3.14.0"
pytest==6.2.5 ; python_version >= "3.8" and python_full_version <= "3.14.0"
python-discovery==1.2.1 ; python_version >= "3.8" and python_full_version <= "3.14.0"
pyyaml==6.0.3 ; python_version >= "3.8" and python_full_version <= "3.14.0"
rapidfuzz==2.15.2 ; python_version >= "3.8" and python_full_version <= "3.14.0"
six==1.17.0 ; python_version >= "3.8" and python_full_version <= "3.14.0"
toml==0.10.2 ; python_version >= "3.8" and python_full_version <= "3.14.0"
tomli==2.4.1 ; python_version >= "3.8" and python_full_version <= "3.11.0a6"
tox==3.28.0 ; python_version >= "3.8" and python_full_version <= "3.14.0"
typing-extensions==4.13.2 ; python_version >= "3.8" and python_full_version <= "3.14.0"
virtualenv==21.2.0 ; python_version >= "3.8" and python_full_version <= "3.14.0"
