numpy==1.24.4 ; python_version >= "3.8" and python_version < "3.12"
numpy==2.0.0 ; python_version >= "3.12" and python_full_version <= "3.13.0"
rapidfuzz==2.15.2 ; python_version >= "3.8" and python_full_version <= "3.13.0"
