name: Publish Package

on:
  push:
    tags: ["*.*.*"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install poetry==1.8.3
          poetry install

      - name: Run test
        run: |
          poetry run tox -e "py312, lint, type, gh-cov-report"

      - name: Publish package
        run: |
          poetry publish --build -u __token__ -p ${{ secrets.PYPI_API_TOKEN }}

      - name: Set release data
        id: release_settings
        run: |
          BODY_FILE=release_note.md
          make print-changelog >> ${BODY_FILE}
          echo "release_body_filename=${BODY_FILE}" >> $GITHUB_OUTPUT

      - name: Create Repository Release
        uses: ncipollo/release-action@v1
        with:
          name: "EorzeaEnv ${{ github.ref_name }}"
          token: ${{ secrets.GITHUB_TOKEN }}
          bodyFile: ${{ steps.release_settings.outputs.release_body_filename }}
